.catalog-promo__wrapper {
  margin: 35px 20px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
  url("../img/catalog-promo-background.png");
  position: relative;
}

.catalog-promo__svg {
  position: absolute;
  color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  top: 59px;
}

.catalog-promo__text {
  margin: 0;
  padding: 187px 59px 43px 60px;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
