.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  display: flex;
  text-decoration: none;
  color: #444444;

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 22px;
    }
  }
}
