.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, #ffffff 619px, #eaeaea 619px);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, #ffffff 179px, #f2f2f2 179px);
  }
}

.example__wrapper {
  margin: 0 auto;
  padding: 25px 20px;
  width: $mobile-width;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 30px 56px;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 54px;
    padding: 0 110px;
    width: $desktop-width;
    display: grid;
    grid-template-columns: repeat(2, 590px);
    column-gap: 40px;
  }
}

.example__title {
  @include zero-indent;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 128px;
  }

  @media (min-width: $desktop-width) {
    // padding: 43px 0 146px;
    margin: 43px 10px 146px 0;
    grid-column: 1/2;
  }
}

.example__description {
  @include zero-indent;
  font-family: $font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    grid-column: 1/2;
  }
}

.example__slider {
  @media (min-width: $desktop-width) {
    grid-area: 1/2/4/3;
  }
}

.example__data-wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-direction: column;
    justify-content: left;
    grid-column: 1/2;
  }
}

.example__list {
  @include zero-indent;
  margin-top: 20px;
  margin-bottom: 39px;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-content: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.example__item {
  @include zero-indent;
  display: flex;
  justify-content: center;
  position: relative;
  width: 124px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.example__item-value {
  @include zero-indent;
  padding: 15px 5px 18px;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  word-break: break-all;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 15px 5px 20px;
    font-size: 30px;
    line-height: 1.23;
  }
}

.example__item-description {
  @include zero-indent;
  padding: 0 15px;
  box-sizing: border-box;
  width: 87px;
  position: absolute;
  top: 47px;
  font-size: 12px;
  line-height: 100%;
  text-transform: lowercase;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  color: #444444;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    width: auto;
    font-size: 14px;
    top: 63px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__price-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: left;
    margin-bottom: 21px;
  }
}

.example__price,
.example__price-description {
  @include zero-indent;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.example__price-description {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 63px;
  }
}

.example__pictures-wrapper {
  @include zero-indent;

  @media (min-width: $tablet-width) {
    margin: 0 auto 25px;
    width: 592px;
    height: 511px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.example__picture-img {
  display: flex;

  @media (min-width: $tablet-width) {
    object-fit: contain;
    width: 592px;
    height: 511px;
  }
}

.example__scale {
  padding: 0 35px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 57px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    padding: 0;
  }
}

.example__text {
  @include button;
  background: none;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 0 10px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.example__bar {
  position: relative;
  margin: 0 13px;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    height: 6px;
    border: none;
    background-color: #dcdcdc;
  }
}

.example__bar-data {
  margin-left: 6px;
  box-sizing: border-box;
  width: 44.3%;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__button {
  @include zero-indent;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
