.form {
  @include zero-indent;
  margin: 0 auto;
  width: $mobile-width;
  box-sizing: border-box;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin-bottom: 84px;
  }
}

.form__group {
  @include zero-indent;
  border: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    border: 0;

    &:not(:last-child) {
      margin-bottom: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 70px;
    display: grid;
    grid-template-columns: 630px 570px;
    column-gap: 60px;

    &:not(:last-child) {
      margin-bottom: 68px;
    }
  }
}

.form__group--layout {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 61px;
    grid-row-gap: 15px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    display: grid;
    grid-template-columns: 610px 570px;
    column-gap: 80px;
    grid-row-gap: 45px;
  }
}

.form__legend {
  @include zero-indent;
  margin-right: 100px;
  margin-bottom: 37px;
  padding-left: 20px;
  padding-right: 18px;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;
  position: relative;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 70px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 1;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.form__legend--another-margin {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.form__legend--line {
  &::before {
    content: "";
    display: flex;
    height: 2px;
    width: $mobile-width;
    background-color: #68b738;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: $tablet-width;
      left: -30px;
      top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: $desktop-width;
      left: -70px;
      top: 21px;
    }
  }
}

.form__list {
  @include zero-indent;
  padding: 0 20px;
  list-style: none;
  margin-bottom: 23px;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    margin-left: 41px;
    margin-right: 37px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 40px;
  }
}

.form__list--bottom-border {
  box-sizing: border-box;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding-bottom: 0;
  }
}

.form__list--full-border {
  @media (min-width: $tablet-width) {
    padding: 25px 28px 18px 25px;
    border: 1px solid #e7e7e7;
  }
}

.form__list--layout {
  @media (min-width: $tablet-width) {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 55px;
    grid-row-gap: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 221px);
    column-gap: 104px;
    padding-left: 40px;
  }
}

.form__list--grid-left {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.form__list--grid-right {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.form__list--grid {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }
}

.form__item {
  @include zero-indent;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }
}

.form__item--grid-left {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.form__item--grid-right {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.form__label,
.form__input,
.form__textarea {
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.form__label--radio,
.form__label--checkbox {
  padding-left: 45px;
  height: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    height: 40px;
  }
}

.form__input {
  margin-left: 14px;
  padding: 13px 40px 12px 14px;
  border: 1px solid #e7e7e7;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 11px 50px 11px 19px;
  }
}

.form__input--radio {
  display: none;

  &:checked + .form__mark--radio::before {
    @include input-before;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }
}

.form__input--checkbox {
  display: none;

  &:checked + .form__mark--checkbox::before {
    @include input-before;
    width: 30px;
    height: 30px;
    background-image: url("../img/mark.svg");
    background-repeat: no-repeat;
    background-position: 6px 8px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      background-image: url("../img/mark-large.svg");
      background-position: 9px 11px;
    }
  }
}

.form__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__mark--radio {
  border-radius: 50%;
}

.form__icon {
  position: absolute;
  right: 34px;
  transform: translateX(100%);

  @media (min-width: $tablet-width) {
    right: 38px;
    transform: translateX(100%);
  }
}

.form__textarea {
  margin-left: 20px;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  resize: none;
  box-sizing: border-box;
  height: 150px;
  width: 280px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    padding-left: 17px;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    height: 174px;
    width: 631px;
    margin-left: 40px;
    margin-right: 37px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form__button {
  @include button;
  padding: 10px 10px;
  margin: 0 20px;
  margin-bottom: 21px;
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 40px;
    padding: 12px 10px;
    grid-column: 1/2;
    font-size: 20px;
    line-height: 26px;
  }
}

.form__required-text {
  @include zero-indent;
  font-family: $font-arial;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1;
    grid-column: 2/3;
    text-align: left;
    align-self: center;
  }
}
