.how-it-works {
  margin: 0 auto 49px;
  width: $mobile-width;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0 auto 43px;
    width: $tablet-width;
    padding-bottom: 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 26px;
    padding: 0;
    width: $desktop-width;
    border: none;
  }
}

.how-it-works__title {
  @include zero-indent;
  margin: 0 20px 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0 30px 32px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px 32px;
  }
}

.how-it-works__list {
  @include zero-indent;
  list-style: none;
  margin: 0 20px 49px;
  counter-reset: number;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    column-gap: 133px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    column-gap: 75px;
  }
}

.how-it-works__item {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  counter-increment: number;

  @media (min-width: $tablet-width) {
    margin: 40px 0 57px;

    &:nth-child(n)::after {
      content: counter(number);
      font-size: 280px;
      line-height: 100%;
      color: #f2f2f2;
      display: flex;
      position: absolute;
      z-index: -1;
      top: -40px;
      right: 20px;
    }
  }
}

.how-it-works__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.how-it-works__icon {
  color: #ffffff;
}

.how-it-works__description {
  margin: 0;
  margin-left: 80px;
  padding: 2px 0 4px;
  font-family: $font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 111px;
    padding: 0;
    font-size: 16px;
    line-height: 150%;
  }
}
