.main-container {
  @include view-port;
  margin: 0 auto;
  width: $mobile-width;
  box-sizing: border-box;
}

.main-container__title {
  padding: 0;
  margin: 27px 20px 44px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin: 0 30px 82px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    margin: 0 30px 84px;
  }
}

.main-container__title--form {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin: 0 69px 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    margin: 0 110px 56px;
  }
}

.main-container__description {
  @include zero-indent;
  margin: 0 70px 39px 20px;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 375px 66px 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 1000px 66px 110px;
  }
}
