.main-header {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 358px;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to bottom, #ffffff 55px, rgba(104, 183, 56, 0.85) 55px);
    z-index: -1;
  }
}

.main-header__wrapper {
  // margin: 11px auto 17px;
  margin: 0 auto;
  width: $mobile-width;
  box-sizing: border-box;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 302px;
    position: absolute;
    top: 56px;
    left: 0;
    background-image: url("../img/header-mobile.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: $tablet-width;
    padding: 24px 30px 62px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 53px 110px 29px;

    &::after {
      content: "";
      width: 100%;
      height: 696px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/index-background-desktop.jpg");
      background-position: right top;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.main-header--catalog,
.main-header--form {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 110px 74px;

    &::after {
      display: none;
    }
  }
}

// .main-header--form {
//   @media (min-width: $desktop-width) {
//     padding: 53px 110px 74px;
//   }
// }

.main-header__logo {
  display: flex;
  margin: 11px 20px 17px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
