.main-header {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 302px;
    position: absolute;
    top: 100%;
    background-image: image-set(
      "../img/header-mobile.webp" 1x,
      "../img/header-mobile.jpg" 1x
    );
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: image-set(
        "../img/header-mobile@2x.webp" 2x,
        "../img/header-mobile@2x.jpg" 2x
      );
      background-size: 320px auto;
    }
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 694px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: image-set(
        "../img/header-desktop.webp" 1x,
        "../img/header-desktop.jpg" 1x
      );
      background-position: 49vw top;
      background-repeat: no-repeat;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: image-set(
          "../img/header-desktop@2x.webp" 2x,
          "../img/header-desktop@2x.jpg" 2x
        );
        background-size: 1044px auto;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 694px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%);
      background-position: right top;
      z-index: -1;
    }
  }
}

.main-header--catalog,
.main-header--form {
  border-bottom: 1px solid #e6e6e6;

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.main-header__wrapper {
  margin: 0 auto;
  width: $mobile-width;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $tablet-width;
    padding: 24px 30px 64px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 53px 110px 29px;
  }
}

.main-header__logo {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px 17px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__logo img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
