.page {
  background-color: #ffffff;
  height: 100%;
}

.page__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}
