.page {
  background-color: #ffffff;
  height: 100%;
}

.page__body {
  min-width: $mobile-width;
  // max-width: $desktop-width;
  margin: 0 auto;
  min-height: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
