.program-type__list {
  @include zero-indent;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 110px;
  }
}

.program-type__item {
  background: #f2f2f2;
  margin: 20px;
  padding: 30px 20px 19px 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 30px;
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 570px;
    padding: 77px 52px 55px;

    &:not(:last-child) {
      margin-right: 80px;
    }
  }
}

.program-type__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    transform: scale(4);
    // положение считается от начального размера блока, к положению макета добавим 75px
    // макет top 92, left 446
    top: 167px;
    left: 521px;
  }

  @media (min-width: $desktop-width) {
    transform: scale(2);
    // положение считается от начального размера блока, к положению макета добавим 25px
    // макет top 41, left 52
    top: 66px;
    left: 76px;
  }
}

.program-type__svg {
  position: absolute;
}

.program-type__title {
  @include zero-indent;
  margin-left: 71px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    margin-left: 162px;
  }
}

.program-type__description {
  @include zero-indent;
  padding-right: 13px;
  margin-bottom: 37px;
  font-family: $font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #444444;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.program-type__description::after {
  content: "";
  display: flex;
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  bottom: -22px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.program-type__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
  }
}

.program-type__link-icon {
  position: absolute;
  right: -15px;
  transform: translateX(100%);
  top: 7px;

  @media (min-width: $tablet-width) {
    right: -25px;
    top: 9px;
  }
}
