.social {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 250px;
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
    align-items: flex-start;
  }
}

.social__list {
  margin: 0;
  padding: 17px 78px 15px 75px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__item {
  display: flex;
  align-items: center;
  margin: 5px 0;

  &:not(:last-child) {
    margin-right: 25px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }
}

.social__link {
  display: flex;
  text-decoration: none;
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
