// Шрифт Ариал и его аналоги
$font-arial: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;

// нулевые отступы
@mixin zero-indent {
  margin: 0;
  padding: 0;
}

// View ports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 320px;

// View ports временный
@mixin view-port {
  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

// кнопка
@mixin button {
  @include zero-indent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  cursor: pointer;
}
