// общие стили
@import "./global/global";
@import "./global/fonts";
@import "./global/variables";
@import "./global/mixins";

// страница index.html
@import "./blocks/page";
@import "./blocks/nojs";
@import "./blocks/main-header";
@import "./blocks/main-nav";
@import "./blocks/main-container";
@import "./blocks/promo";
@import "./blocks/program-type";
@import "./blocks/how-it-works";
@import "./blocks/example";
@import "./blocks/contacts";
@import "./blocks/main-footer";
@import "./blocks/social.scss";
@import "./blocks/copyright";

// страница catalog.html
@import "./blocks/product.scss";
@import "./blocks/show-more";
@import "./blocks/additional-product";

// страница формы
@import "./blocks/form";
